{% comment %}TODO consider https://developers.google.com/custom-search/docs/element{% endcomment %}



<script>
  (function() {
    var cx = '017166909509839706853:47v4djs44ea';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<div id="cse-wrapper">
		<gcse:search></gcse:search>
	</div>
