@charset "utf-8";
/* TOC

- Adjustments: Video Layout
- Navigation
- Search
- Masthead
- Masthead › small-only
- Masthead › medium-only
- Masthead › large-only
- Masthead › xlarge-up
- Breadcrumb
- Meta
- Jump to top
- Footer
- Subfooter
- CSS-Classes to add margin at top or bottom

*/



/* Adjustments: Video Layout
------------------------------------------------------------------- */

body.video,
body.video #masthead-no-image-header { background: #000; }
body.video #masthead-no-image-header { margin-bottom: 60px; }
body.video h1,
body.video h2,
body.video h3,
body.video h4,
body.video h5,
body.video h6,
body.video p,
body.video a,
body.video blockquote:before,
body.video blockquote:after,
body.video cite a, { color: #fff; }
body.video cite a:visited, { color: #fff; }
body.video cite { color: #fff; }



/* Navigation
------------------------------------------------------------------- */

#navigation {
  /*  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);*/

    [class^='icon-']:before, [class*=' icon-']:before {
        margin-right: rem-calc(8);
    }
}



/* Search
------------------------------------------------------------------- */

.no-js form#search {
  display: none;
}

/* Navigation logo
------------------------------------------------------------------- */
#nav-logo {
    float:left;
    padding-left:10px;
    padding-top:5px;
    padding-right:0;
    margin-right:0;

}

#nav-logo img{
  position:absolute;
  top:10;
  left:5;
  z-index:1000;
}

#site-title{
  position:absolute;
  left:85px;
}

@media #{$small-only} {
    #nav-logo img {
        width:$topbar-height - rem-calc(10);
        height:$topbar-height - rem-calc(10);
        //margin: 0 10px 0 0;
        top:10;
        left:5;

    }

    #site-title{
      position:absolute;
      left:40px;
    }
}

@media #{$medium-only} {
    #nav-logo img {
        width:$topbar-height - rem-calc(10);
        height:$topbar-height - rem-calc(10);
        //margin: 0 10px 0 0;
        top:10;
        left:5;
      }

      #site-title{
        position:absolute;
        left:40px;
      }
}


/* Masthead
------------------------------------------------------------------- */

#masthead {
    background-color: $primary-color;
}
#masthead-no-image-header {
    background-color: $primary-color;
}
#masthead-with-text {
    text-align: left;
    font-size: rem-calc(54);
    font-weight: lighter;
    font-family: $header-font-family;
    color: $primary-color;
    height:250px;
}

#masthead-no-image-header {
    height: 175px;
}

#masthead-no-image-header #logo img {
    margin-top: 60px;
}

.masthead-title{
  color: $ci-4;
}

.masthead-subtitle {
  color: $grey-10;
  font-size: large;
}


/* Masthead › small-only
------------------------------------------------------------------- */

@media #{$small-only} {
    #logo img {
        display: none;
    }
    #masthead {
        height: 200px;
    }
    #masthead-with-pattern {
        padding: 15px 0;
    }
    #masthead-with-background-color {
        padding: 15px 0;
    }
    #masthead-with-text {
        height: 100px;
        padding: 30px 0;
        font-size: rem-calc(36);
    }
    #masthead-no-image-header {
        display: none;
    }
}


/* Masthead › medium-only
------------------------------------------------------------------- */

@media #{$medium-only} {
    #logo img {
        margin-top: 60px;
    }
    #masthead {
        height: 280px;
    }
    #masthead-with-pattern {
        padding: 20px 0;
    }
    #masthead-with-background-color {
        padding: 20px 0;
    }
    #masthead-with-text {
        padding: 30px 0;
        height: 250px;
    }
}


/* Masthead › large-only
------------------------------------------------------------------- */

@media #{$large-only} {
    #logo img {
        margin-top: 80px;
    }
    #masthead {
        height: 310px;
    }
    #masthead-with-pattern {
        padding: 30px 0;
    }
    #masthead-with-background-color {
        padding: 30px 0;
    }
    #masthead-with-text {
        height: 250px;
        padding: 40px 0;
    }
}


/* Masthead › xlarge-up
------------------------------------------------------------------- */

@media #{$xlarge-up} {
    #logo img {
        margin-top: 110px;
    }
    #masthead {
        height: 250px;
    }
    #masthead-with-pattern {
        padding: 45px 0;
    }
    #masthead-with-background-color {
        padding: 45px 0;
    }
    #masthead-with-text {
        padding: 30px 0;
        height: 250px;
    }
}


#title-image-small {
    height: 240px;
}
#title-image-large {
    height: 520px;
}
#title-image-index-small {
    height: 120px;
}
#title-image-index-large {
    height: 260px;
}



/* Breadcrumb
------------------------------------------------------------------- */

#breadcrumb {
    background: scale-color($grey-1, $lightness: 55%);
    border-top: 1px solid scale-color($grey-1, $lightness: 45%);
    border-bottom: 1px solid scale-color($grey-1, $lightness: 45%);
}
.breadcrumbs>.current {
  font-weight: bold;
}


/* Meta
------------------------------------------------------------------- */

#page-meta, #page-meta a {
    color: $grey-5;
}

#page-meta .button {
    background: $grey-5;
    border: 0;
}
#page-meta .button {
    color: #fff;
}
#page-meta .button:hover {
    background: $primary-color;
}
.meta-info p {
  font-size: rem-calc(13);
  color: scale-color($grey-1, $lightness: 40%);
}
  .meta-info a {
    text-decoration: underline;
    color: scale-color($grey-1, $lightness: 40%);
  }
  .meta-info a:hover {
    text-decoration: none;
    color: $secondary-color;
  }



/* Jump to top
------------------------------------------------------------------- */

#up-to-top {
    padding: 160px 0 10px 0;
}
#up-to-top a {
    font-size: 24px;
    padding: 5px;
    border-radius: 3px;
}
#up-to-top a:hover {
    background: $grey-2;
}



/* Footer
------------------------------------------------------------------- */

#footer-content p,
#footer-content li {
    font-size: rem-calc(13);
    font-weight: 300;
}

#footer {
    padding-top: 30px;
    padding-bottom: 10px;
    background: $footer-bg;
    color: $footer-color;
    }

    #footer a {
        color: $footer-link-color;
    }
    #footer h4,
    #footer h5 {
        letter-spacing: 1px;
        color: $ci-5;
        text-transform: uppercase;
    }



/* Subfooter
------------------------------------------------------------------- */

#subfooter {
    color: $subfooter-color;
    padding-top: 30px;
    text-align: center;

    a{
      color: $grey-8;
    }
}


#subfooter-left a {
     color: $grey-8;
     font-weight:300;
    }

.credits{
  font-size: rem-calc(13);

    a {
    color: $subfooter-link-color;
    border: 0;
    }
    &:hover {
        color: $grey-10;
  }
}

.social-icons {
    margin-bottom: 10px !important;

// Beware of SCSS-Syntax here
  li {
    padding: 0 0 20px 0;
  }
  a {
    font-size: rem-calc(23);
    display: block;
    width: 36px;
    border-radius: 50%;
    color: $subfooter-bg;
    background: $subfooter-color;
    text-align: center;
    &:hover {
      background: $ci-4;
      color: #fff;
    }
  }
}


/* CSS-Classes to add margin at top or bottom
------------------------------------------------------------------- */

.t10 { margin-top: 10px !important; }
.t15 { margin-top: 15px !important; }
.t20 { margin-top: 20px !important; }
.t30 { margin-top: 30px !important; }
.t50 { margin-top: 50px !important; }
.t60 { margin-top: 60px !important; }
.t70 { margin-top: 70px !important; }
.t80 { margin-top: 80px !important; }
.t90 { margin-top: 90px !important; }

.b15 { margin-bottom: 15px !important; }
.b20 { margin-bottom: 20px !important; }
.b30 { margin-bottom: 30px !important; }
.b60 { margin-bottom: 60px !important; }

.l15 { margin-left: 15px !important; }
.r15 { margin-right: 15px !important; }

.pl20 { padding-left: 20px !important; }
.pr5  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }



/* Mailchimp newsletter sign up form
---------------------------------------------------------------------*/

#mc_embed_signup {

background-color: $footer-bg;
clear:left;
padding:0;

  & input.button {
    background-color: $ci-1;
  }

}

/* Resources List
---------------------------------------------------------------------*/
.resources {
  padding:0;
}
.resources h2 {
  font-size: 24px;
  font-weight:normal;
  color: $ci-6;
  padding: 0 0 10px 0;
  margin:0;
}

.resources ul {
  margin:0;
  padding:0;
}

.resources li {
  list-style-type: none;
  font-size: $base-font-size;
  padding:20px 0;
  margin:0;

  & img {
    width:80%;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0,0,0,.2);
      box-shadow: 1px 2px 2px 1px rgba(0,0,0,.2);
  }

  & .resource-name {
    font-weight:normal;
    font-size: rem-calc(19);
    padding: 10px 0 0 0;
    margin:0;
  }

  & a {
    font-weight:normal;
  }

  & div {
    padding: 10px 0 0 0;
  }
}


/* Resources List Mobile Medium
---------------------------------------------------------------------*/
@media #{$medium-up} {
  .resources li {
    & img {
      width:50%;

    }
  }
}

/* Baking-test layout
---------------------------------------------------------------------*/
.right-layout {
  clear:both;
}

.ingredient-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ingredient-bg{
    position: relative;
    overflow:hidden;
    width:70%;
}


.ingredient-bg img {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height: auto;
  opacity:0.7;
}

.archive-list-title{
  background-color: rgba(255, 255, 255 ,0.9);
	padding: 5px 20px 0 20px;
	display: inline-block;
	color: #009AB6;
}

.archive-list-content{
  clear:both;
  background-color: rgba(255, 255, 255 ,0.9);
  padding: 5px 20px 5px 20px;
}

.short-div {
  height: 250px;
}

.short-div .triangle-top-left:before{
  transform: skew(100deg);
}

.short-div .triangle-bottom-left:before{
  transform:skew(65deg);
}


.tall-div{
  height:400px;
  $div-height: 1;
}

/**baking blog**/
.tall-div .triangle-top-left{
  width: 100%;

  &::before{
  transform: skew(111.2deg);
  }
}

.tall-div .triangle-bottom-left{
  width: 100%;

  &::before{
  transform: skew(68.7deg);
  }
}

.tall-div .triangle-top-right{
  width: 100%;

  &::before{
  transform: skew(68.7deg);
  }
}

.tall-div .triangle-bottom-right{
  width: 100%;

  &::before{
  transform: skew(111.2deg);
  }
}

/**baking listing**/
.short-div .triangle-top-left{
  width:100%;
  &::before{
  transform: skew(116deg);
  }
}

.short-div .triangle-bottom-left{
  width: 100%;

  &::before{
  transform: skew(64.4deg);
  }
}

.short-div .triangle-top-right{
  width: 100%;

  &::before{
  transform: skew(64.4deg);
  }
}

.short-div .triangle-bottom-right{
  width: 100%;

  &::before{
  transform: skew(116deg);
  }
}


/**
@function div-angle($div-height, $angle){
  @if $div-height and $angle == 'large' {
    @return 111.8deg;
  }
  @else if $div-height and $angle == 'small' {
    @return 68.2deg;
  }
  @else if $div-height == 0 and $angle == 'large' {
    @return 72.8deg;
  } @else {
    @return 45.2deg;
  }
}
**/
@media #{$medium-up}{
  .ingredient-wrapper{
    height: 250px;
  }

  .tall-div{
    $div-height: 1;
    height: 400px;
  }
}


.triangle-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:left;
}

@media #{$small-only} {
  .triangle-wrapper {
    display:none;
  }
}


  .triangle-top-left {
      height:50%;
      padding-bottom: 50%; /* = width / 1.41 */
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $top-left-triangle-color;
        transform-origin: top left;
        //transform: skew(111.8deg);
      }
  }

  .triangle-bottom-left {
      width: 100%;
      padding-bottom: 50%; /* = width / 1.41 */
      position: absolute;
      overflow: hidden;
      left:0;
      bottom:0;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bottom-left-triangle-color;
        transform-origin: left bottom;
        //transform: skew(68.2deg);

      }
  }


  .triangle-top-right {
      width: 100%;
      height:50%;
      padding-bottom: 50%; /* = width / 1.41 */
      position: absolute;
      overflow: hidden;
      top: 0;
      right: 0;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $top-right-triangle-color;
        transform-origin: top right;
        //transform: skew(68.2deg);
      }
  }

  .triangle-bottom-right {
      width: 100%;
      padding-bottom: 50%; /* = width / 1.41 */
      position: absolute;
      overflow: hidden;
      bottom:0;
      right:0;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bottom-right-triangle-color;
        transform-origin: right bottom;
        //transform: skew(111.8deg);

      }
  }

/* Google Search
 * Original stylesheet: https://www.google.com/uds/api/search/1.0/298d032c4894311057ee9acd81a781f2/default+en.css
 */
#cse-wrapper {
  margin-top: 100px;
}

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.gsc-above-wrapper-area {
  border:0;
  padding:0;
}

// removes gray outline in results
.gsc-control-cse table,
.gsc-control-cse tr,
.gsc-control-cse td {
    border: 0;
}

input.gsc-input
{
 height: 26px !important;
}

table.gsc-search-box td {
  vertical-align : top !important;
  padding:0 !important;
}

.gsst_a .gscb_a {
  color: $ci-1 !important;
}

.gsib_a, .gsib_b {
  vertical-align: top !important;
}

.gsst_a:hover .gscb_a, .gsst_a:focus .gscb_a {
  color: $ci-2 !important;
}
