---
title: Baking tests
layout: page-fullwidth
header:
  image_fullwidth: /assets/img/header/baking-test-header.jpg
  subtitle: Testing the ingredients so you don't have to
breadcrumb: true
meta_title: Baking tests
---

<div class="row t30">
  <div class="columns small-12 medium-12">
  {% assign counter = 1 %}

  {% for post in site.posts limit:10 %}
  	{% if counter == 1 %}

  	<div class="row ingredient-bg">
      <img src="{{ site.url }}{{ site.baseurl }}{{ post.header.image_fullwidth }}">

  		<div class="medium-3 columns triangle-wrapper short-div">
  			<div class="triangle-top-left"></div>
  			<div class="triangle-bottom-left"></div>
  		</div>
  		<div class="medium-9 columns ingredient-wrapper short-div">
  			<div>
            <h2 class="archive-list-title h2-no-margin">{{ post.title }}</h2>
            <div class="archive-list-content post">
              {{ post.header.subtitle }} <br/>
              <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}">{{ site.data.language.read_more }}</a>
            </div>
        </div>
  		</div> <!--medium-9-->
  	</div><!--ingredient-bg-->
  		{% assign counter=counter | minus:1 %}

  	 {% else %}
  			<div class="row ingredient-bg">
          <img src="{{ site.url }}{{ site.baseurl }}{{ post.header.image_fullwidth }}">

  				<div class="medium-9 columns ingredient-wrapper short-div">
  					<div>
              <h2 class="archive-list-title">{{ post.title }}</h2>
              <div class="archive-list-content">
                {{ post.header.subtitle }} <br />
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}">{{ site.data.language.read_more }}</a>
              </div>
            </div>
  				</div>
  				<div class="medium-3 columns triangle-wrapper short-div">
  					<div class="triangle-top-right"></div>
  					<div class="triangle-bottom-right"></div>
  				</div>
      </div><!--ingredient-bg-->
  			{% assign counter=counter | plus:1 %}

  		{% endif %}
  	{% endfor %}
  </div>
</div> <!--row t30-->

{% comment %}
  {% include _pagination.html %}
{% endcomment %}
