---
layout: default
format: post
---

<div class="row t30">
		<article itemscope itemtype="http://schema.org/Article">
			<!--<header>
			{% if page.image.title %}
				<figure>
					<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

					{% if page.image.caption_url and page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
				</figure>
				{% endif %}

				<div itemprop="name">
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1>{{ page.title }}</h1>
				</div>
			</header>

			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser }}
			</p>
			{% endif %}-->

			<div itemprop="articleSection" class="intro_content">
				{{ content }}
			</div>

			{% assign counter = 1 %}
  			{% for ingredient in page.ingredients limit:1000 %}
  				{% if counter == 1 %}
  				<div class="row ingredient-bg" style="background:url('{{ site.url }}{{ site.baseurl }}{{ ingredient.img }}') no-repeat left center;">
  					<div class="medium-6 columns triangle-wrapper tall-div">
  						<div class="triangle-top-left"></div>
  						<div class="triangle-bottom-left"></div>
  					</div>
  					<div class="medium-6 columns ingredient-wrapper tall-div">
  						<div markdown="1"><strong>{{ ingredient.item }}</strong>{{ ingredient.description | markdownify }}</div>
  					</div>
  				</div>
  					{% assign counter=counter | minus:1 %}
  				 {% else %}
  						<div class="row ingredient-bg" style="background:url('{{ site.url }}{{ site.baseurl }}{{ ingredient.img }}') no-repeat right center;">
  							<div class="medium-6 columns ingredient-wrapper tall-div">
  								<div markdown="1"><strong>{{ ingredient.item }}</strong>{{ ingredient.description | markdownify }}</div>
  							</div>
  							<div class="medium-6 columns triangle-wrapper tall-div">
  								<div class="triangle-top-right"></div>
  								<div class="triangle-bottom-right"></div>
  							</div>
              </div>
              {% assign counter=counter | plus:1 %}

            {% endif %}
          {% endfor %}


<!--List of ingredients comparison-->
			<h2>Comparison summary</h2>
					{% include gallery %}

					<!--list of acknowlegements-->

			{% if page.acknowledgements %}
			<h2>Acknowledgements</h2>
			These were the resources used for this topic.

			<ol>
					{% for acknowledgement in page.acknowledgements limit:1000 %}
					<li>
							<A href="{{ acknowledgement.url }}">{{ acknowledgement.resource | escape }}</a>
					</li>
					{% endfor %}
			</ol>
			{% endif %}

			<!--{% include list-posts tag='post format' %}-->
			<!--end of list of other posts-->

			<!--{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}-->
		</article>

			<!--list of other posts-->
			<h2>Other posts </h2>
			{% include list-posts tag='post format' %}
			<!--end of list of other posts-->

			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->
