---
layout: default
format: post
---

	<article itemscope itemtype="http://schema.org/Article">

		<div class="row t30">
			<div class="columns small-12">
				<div itemprop="articleSection" class="intro_content">
					{{ content }}
				</div>

			<!--List of individual ingredients -->
			<h2>What does each ingredient do?</h2>

		</div> <!--small-12-->
			<dl class="accordion" data-accordion>
				{% assign counter = 1 %}
				{% assign triangle-counter = 1 %}
				{% for ingredient in page.ingredients limit:1000 %}
				<dd class="accordion-navigation">

					<!--Ingredients title panel-->
				<a href="#panel{{ counter }}" class="accordion-collapse" style="background:url('{{ site.url }}{{ site.baseurl }}{{ ingredient.img }}') no-repeat left center;position:relative;overflow:hidden;">
					<div class="accordion-title"><span class="iconfont"></span>{{ ingredient.item }}</div>
					<div class="triangle-wrapper tall-div">
						{% if triangle-counter == 1 %}
							<div class="triangle-top-right" style="width:25%;"></div>
							{% assign triangle-counter=triangle-counter | minus:1 %}
						{% else %}
						<div class="triangle-bottom-right" style="width:25%;"></div>
							{% assign triangle-counter=triangle-counter | plus:1 %}
						{% endif %}
					</div>
				</a>
					<!--Ingredients details panel-->
					<div id="panel{{ counter }}" class="content">

							{% if ingredient.img_product %}<div><img src={{ingredient.img_product}} class="img_product"></div>{% endif %}

						<div>
							{{ ingredient.description | markdownify }}

							{% if ingredient.tips %}
							<div class="accordion_tips">
								Tips:
								<ul>
									{% for tip in ingredient.tips %}
										<li>{{ tip }}</li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}
						</div>
						<!--<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"></a>-->
					</div>
				</dd>
				{% assign counter=counter | plus:1 %}
				{% endfor %}
			</dl>
		</div>
	</div>


			<!--List of ingredients comparison-->
	<div class="row t10">
			<div class="medium-8 columns">
						<h2></h2>
			</div>
	</div>


		          {% include slider.html selector=page.image_sliders %}


{% if page.acknowledgements %}
	<div class="row">
		<div class="large-12 columns">
					<!--list of acknowlegements-->
			<h2>Acknowledgements</h2>
			This blog is possible thanks to these great sources of information.
			<ol>
					{% for item in page.acknowledgements limit:1000 %}
					<li>
						{% assign acknowledgement = site.data.acknowledgements[item] %}
							<a href="{{ acknowledgement.url }}">{{ acknowledgement.name }}{% if acknowledgement.subtitle %}: {{ acknowledgement.subtitle }}{% endif %}</a>
					</li>
					{% endfor %}
			</ol>
		</div>
	</div>
{% endif %}

		</article>

<div class="row">
	<div class="columns small-12">

			<!--list of other posts-->
			<h2>More baking tests</h2>
			{% include list-posts tag='post format' entries='4' %}
			<!--end of list of other posts-->

			{% if page.show_meta == true %}
			{% include _meta_information.html %}
			{% endif %}

			{% if page.comments == true %}
			{% include _comments.html %}
			{% endif %}
	</div>
</div>
